CompileFlags:
  CompilationDatabase: __haze__/
  Add: [
    "-I/home/fzachs/.haze/global", "-DHAZE_PLATFORM_LINUX", "-Wno-parentheses-equality", "-I/home/fzachs/.haze/global/wgpu-native/include", "-Wno-unused-includes"
  ]
