name = "wgpu"
version = "1.0.0"
description = "WebGPU Bindings for Haze (Native + Web)"
license = "MIT"
authors = ["HerrNamenlos123"]
type = "lib"

[scripts.linux]
prebuild = { command = "$HAZE_MODULE_SOURCE_DIR/build-linux.sh", depends = "./**/*" }

[scripts.win32]
prebuild = { command = "call \"%HAZE_MODULE_SOURCE_DIR%/build-win.bat\"", depends = "./**/*" }

[linker]
flags = ["-lwgpu_native"]

[dependencies]
glfw = { path = "./glfw" }